@use "./variables" as *;

/* borders */
//radius
// width
// style
// color

// border radius

@mixin border-radius($radius) {
  border-radius: $radius;
}

$border-radius: (
  (none, 0px),
  (sm, 0.125rem),
  (rounded, 0.25rem),
  (md, 0.375rem),
  (lg, 0.5rem),
  (xl, 0.75rem),
  (2xl 1rem),
  (3xl, 1.5rem),
  (full, 9999px)
);
@each $n, $r in $border-radius {
  .border-#{$n} {
    @include border-radius($r);
  }
}

// border width
@mixin border-width($width) {
  border-width: $width;
}

$border-width: ((0, 0), (2, 2), (4, 4), (8, 8), (1, 1));
@each $n, $w in $border-width {
  $size: #{$w}px;
  .border-#{$n} {
    @include border-width($size);
  }
}

// border style
@mixin border-style($style) {
  border-style: $style;
}

$border-style: (
  (none, none),
  (solid, solid),
  (dashed, dashed),
  (dotted, dotted),
  (hidden, hidden),
  (double, double)
);
@each $n, $s in $border-style {
  .border-#{$n} {
    @include border-style($s);
  }
}

// border color
@mixin border-color($borderColor) {
  border-color: $borderColor;
}

$coloria: (
  "blue-gray-900": $blue-gray-900,
  "orange-600": $orange-600,
  "white": $white,
  "yellow-400": $yellow-400,
  "blue-600": $blue-600,
  "blue-100": $blue-100,
  "blue-800": $blue-800,
  "blue-gray-600": $blue-gray-600,
  "purple-100": $purple-100,
  "purple-800": $purple-800,
  "green-100": $green-100,
  "orange-400": $orange-400,
  "blue-gray-200": $blue-gray-200,
  "blue-gray-700": $blue-gray-700,
);
@each $n, $c in $coloria {
  .border-#{$n} {
    @include border-color($c);
  }
}
