$blue-gray-900: #0F172A;
$blue-gray-400: #94A3B8;
$blue-gray-100: #F1F5F9;
$orange-600:    #EA580C;
$white:         #FFFFFF;
$yellow-400:    #FACC15;
$blue-600:      #2563EB;
$blue-100:      #DBEAFE;
$blue-800:      #1E40AF;
$blue-gray-600: #475569;
$purple-100:    #F3E8FF;
$purple-800:    #6B21A8;
$green-100:     #DCFCE7;
$green-800:     #15803D;
$orange-400:    #FB923C;
$blue-gray-200: #E2E8F0;
$blue-gray-700: #334155;
$purple-900:    #581C87;
$purple-600:    #9333EA;



