@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1440px) {
    @content;
  }
}

.header {
  background-color: #0f172a;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  .header__container {
    background-color: #1a2131;
    width: 1000px;
    border-radius: 20px;
    padding: 24px;

    margin: 0 auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07),
      0 25px 50px -12px rgba(0, 0, 0, 0.25);
    &__logo {
      display: flex;
      gap: 38px;
      align-items: center;
    }
    &__navMenu {
      display: none;
      @include lg {
        display: flex;
      }
    }
    &__buttons {
      display: none;
      @include lg {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
    &__hamburger {
      display: flex;
      @include lg {
        display: none;
      }
    }
    &__mobilemenu {
      &__responsive {
        @include lg {
          display: none;
        }
        transition: transform 0.3s ease;
        transform: translateX(100%);
        background-color: white;

        &.show {
          transform: translateX(0);
        }

        &.hide {
          transform: translateX(100%);
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-right: 60px;

        &__text {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding-left: 16px;
          color: #0f172a;
          font-size: 1.875rem;
          font-weight: 600;
          &__a {
            text-decoration: none;
            color: #0f172a;
          }
        }
      }
    }
  }
}
