@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin custom {
  @media (min-width: 567px) {
    @content;
  }
}

.joinSection {
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  &__joinContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(40px, 4vw + 1rem, 56px);
      line-height: 44px;
      margin-bottom: 3rem;
      @include md {
        line-height: 61.6px;
        margin-bottom: 5rem;
      }
    }
  }
}
